* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}
header {
  position: sticky;
  top: 0;
}
nav {
  height: 90px;
  width: 100vw;
  background-color: rgb(161, 248, 9);
  border-bottom: 5px solid rgb(253, 18, 50);
  padding: 2px;
}
li:hover {
  background-color: rgb(109, 241, 68);
  color: rgb(253, 18, 50);
}

li {
  display: inline-block;
  padding: 19px 60px;
  font-size: 1.3rem;
}
h1 {
  font-size: 2rem;
  color: rgb(253, 18, 50);
  margin: 30px;
}

main {
  background-color: rgb(255, 239, 176);
}
#home {
  padding: 2.5rem 50px 1rem;
  line-height: 30px;
  color: darkslategrey;
}
#About {
  padding: 2.5rem 60px 1rem;
  line-height: 30px;
  color: darkslategrey;
}
#Contact {
  padding: 2.5rem 60px 1rem;
  line-height: 30px;
  color: darkslategrey;
}
#Coures {
  padding: 2.5rem 60px 1rem;
  line-height: 30px;
  color: darkslategrey;
}
